@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Nabla&family=Press+Start+2P&display=swap');
#gameContainer{
  font-family:Nabla;
  text-align: center;
  background-color: cadetblue;
  width: 100%;
  height: 100%;
}
#cellContainer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}
.cell{
  width: 75px;
  height: 75px;
  border: 2px solid orange;
  background-color: blue;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}
#restartBtn {
  background-color: #ecd364;
  border: 2px solid #ee9004;
  border-radius: 30px;
  box-shadow: #ee9004 4px 4px 0 0;
  color: #ee9004;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#restartBtn:hover {
  background-color: #fff;
}

#restartBtn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  #restartBtn {
    min-width: 120px;
    padding: 0 25px;
  }
}
